.container {
  margin-top:  -50px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  background-image: url('https://static.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg');
  background-size: cover;
  height: 1000px;
  width: 100%;
}

#title {
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}

button {
  font-family: 'Permanent Marker',         cursive;
  height: 40px;
  width: 200px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #A0222D;
  border: none;
}

#quote-display {
  width: 50%;
  height: 25%;
  margin: 50px auto;
  color: black;
  font-size: 24px;  
}